<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        IgnorableNamespaces="uap uap5 rescap systemai">

    <Identity
            Name="mpv-winui-dev"
            Publisher="CN=ikas-mc-dev"
            Version="1.0.16.0"/>

    <mp:PhoneIdentity PhoneProductId="821b3dd9-0d1c-4899-b276-d23d6b8718a9"
                      PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>mpv winui dev</DisplayName>
        <PublisherDisplayName>ikas-mc</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0"/>
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0"/>
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="$targetentrypoint$">
            <uap:VisualElements
                    DisplayName="mpv winui dev"
                    Description="mpv winui"
                    BackgroundColor="transparent"
                    Square150x150Logo="Assets\Square150x150Logo.png"
                    Square44x44Logo="Assets\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
                <uap:SplashScreen Image="Assets\SplashScreen.png"/>
            </uap:VisualElements>
            <Extensions>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="mpvw">
                        <uap:DisplayName>mpv winui player</uap:DisplayName>
                    </uap:Protocol>
                </uap:Extension>
                <uap:Extension Category="windows.fileTypeAssociation">
                    <uap:FileTypeAssociation Name="mpv-winui">
                        <uap:SupportedFileTypes>
                            <uap:FileType>.3g2</uap:FileType>
                            <uap:FileType>.3gp</uap:FileType>
                            <uap:FileType>.avi</uap:FileType>
                            <uap:FileType>.flv</uap:FileType>
                            <uap:FileType>.ivf</uap:FileType>
                            <uap:FileType>.m2ts</uap:FileType>
                            <uap:FileType>.m4v</uap:FileType>
                            <uap:FileType>.mj2</uap:FileType>
                            <uap:FileType>.mkv</uap:FileType>
                            <uap:FileType>.mov</uap:FileType>
                            <uap:FileType>.mp4</uap:FileType>
                            <uap:FileType>.mpeg</uap:FileType>
                            <uap:FileType>.mpg</uap:FileType>
                            <uap:FileType>.ogv</uap:FileType>
                            <uap:FileType>.rmvb</uap:FileType>
                            <uap:FileType>.ts</uap:FileType>
                            <uap:FileType>.webm</uap:FileType>
                            <uap:FileType>.wmv</uap:FileType>
                            <uap:FileType>.y4m</uap:FileType>
                            <uap:FileType>.aac</uap:FileType>
                            <uap:FileType>.ac3</uap:FileType>
                            <uap:FileType>.aiff</uap:FileType>
                            <uap:FileType>.ape</uap:FileType>
                            <uap:FileType>.au</uap:FileType>
                            <uap:FileType>.dts</uap:FileType>
                            <uap:FileType>.eac3</uap:FileType>
                            <uap:FileType>.flac</uap:FileType>
                            <uap:FileType>.m4a</uap:FileType>
                            <uap:FileType>.mka</uap:FileType>
                            <uap:FileType>.mp3</uap:FileType>
                            <uap:FileType>.oga</uap:FileType>
                            <uap:FileType>.ogg</uap:FileType>
                            <uap:FileType>.ogm</uap:FileType>
                            <uap:FileType>.opus</uap:FileType>
                            <uap:FileType>.thd</uap:FileType>
                            <uap:FileType>.wav</uap:FileType>
                            <uap:FileType>.wma</uap:FileType>
                            <uap:FileType>.wv</uap:FileType>
                            <uap:FileType>.avif</uap:FileType>
                            <uap:FileType>.bmp</uap:FileType>
                            <uap:FileType>.gif</uap:FileType>
                            <uap:FileType>.heic</uap:FileType>
                            <uap:FileType>.heif</uap:FileType>
                            <uap:FileType>.j2k</uap:FileType>
                            <uap:FileType>.jp2</uap:FileType>
                            <uap:FileType>.jpeg</uap:FileType>
                            <uap:FileType>.jpg</uap:FileType>
                            <uap:FileType>.jxl</uap:FileType>
                            <uap:FileType>.png</uap:FileType>
                            <uap:FileType>.qoi</uap:FileType>
                            <uap:FileType>.svg</uap:FileType>
                            <uap:FileType>.tga</uap:FileType>
                            <uap:FileType>.tif</uap:FileType>
                            <uap:FileType>.tiff</uap:FileType>
                            <uap:FileType>.webp</uap:FileType>
                            <uap:FileType>.zip</uap:FileType>
                            <uap:FileType>.rar</uap:FileType>
                            <uap:FileType>.7z</uap:FileType>
                            <uap:FileType>.cbz</uap:FileType>
                            <uap:FileType>.cbr</uap:FileType>
                            <uap:FileType>.cue</uap:FileType>
                            <uap:FileType>.edl</uap:FileType>
                            <uap:FileType>.m3u</uap:FileType>
                            <uap:FileType>.m3u8</uap:FileType>
                            <uap:FileType>.pls</uap:FileType>
                        </uap:SupportedFileTypes>
                    </uap:FileTypeAssociation>
                </uap:Extension>
                <uap5:Extension Category="windows.appExecutionAlias" EntryPoint="Windows.FullTrustApplication">
                    <uap5:AppExecutionAlias>
                        <uap5:ExecutionAlias Alias="mpvw.exe" />
                    </uap5:AppExecutionAlias>
                </uap5:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust"/>
        <systemai:Capability Name="systemAIModels"/>
        <Capability Name="internetClient"/>
        <Capability Name="internetClientServer"/>
        <Capability Name="codeGeneration"/>
        <Capability Name="privateNetworkClientServer"/>
    </Capabilities>
</Package>
